services:
  db:
    image: mariadb:latest
    container_name: db
    env_file:
      - .env
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 30s
      interval: 10s
      timeout: 10s
      retries: 10
    networks:
      - custom_network

  filler:
    build:
      context: ./filler
      dockerfile: Dockerfile
    container_name: filler
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    volumes:
      - ./data.csv:/app/data.csv
    networks:
      - custom_network

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: web
    ports:
      - "8000:8000"
    depends_on:
      filler:
        condition: service_completed_successfully
    env_file:
      - .env
    networks:
      - custom_network

networks:
  custom_network:
    driver: bridge