services:
  db:
    image: mariadb:latest
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ServiceDB
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - custom_network

  filler:
    build:
      context: ./filler
      dockerfile: Dockerfile
    container_name: filler
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: ServiceDB
      DB_USER: root
      DB_PASSWORD: root
    volumes:
      - ./data.csv:/app/data.csv
    networks:
      - custom_network

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: web
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      filler:
        condition: service_completed_successfully
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: ServiceDB
      DB_USER: root
      DB_PASSWORD: root
    networks:
      - custom_network

networks:
  custom_network:
    driver: bridge